<div class='row'>
  <p> You can make your own words and share them with friends and make your own secret code words with each other!</p>
  <div class='col-sm-6'>
    <li><a href='/words'>Check out all the words you and your friends have added.</a></li>
  </div>
  <div class='col-sm-6'>
    <li><a href='/words/new'>Add a new word to start a trend!</a></li>
  </div>
</div>
