<!DOCTYPE html>
<html>
  <head>
    <title>Buzzword</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link  rel='stylesheet' href='/css/styles.css' >
    <script src='https://code.jquery.com/jquery-3.2.1.js' integrity='sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=' crossorigin='anonymous'></script>
    <script src='js/scripts.js'></script>
    <link href='https://fonts.googleapis.com/css?family=Leckerli+One|Ubuntu:300' rel='stylesheet'>
  </head>
  <body>
    <div class='jumbotron'>
      <h1><span>&nbsp;&nbsp;B U Z Z W O R D!&nbsp;&nbsp;</span></h1>
    </div>
    <div class='container'>
      <%= yield %>
    </div>
    <footer class='footer'>
      <container>
        <h4><span>&nbsp;&nbsp;Like this? <br> See more at github.com/jennifer-kinsey &nbsp;&nbsp;</span></h4>
      </container>
    </footer>
  </body>
</html>
